.approve-form {
    width: 600px;
    height: 400px;
    background-color: #EEEFF1;
    border-radius: 20px;

    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    
}

.approve-form2 {
    width: 200px;
    height: 200px;
    background-color: #000;
    border-radius: 20px;

    margin-right: auto;
    margin-left: auto;
    margin-top: 200px;
    padding: 20px;
    text-align: center;
    
}


.approve-title {
    font-size: 20px;
    border: none;
    text-decoration: underline;
    text-underline-position:under;
    font-weight:bold;
    text-align: left;
    margin-bottom: 40px;
 
}

.approve-contents {
    font-size: 14px;
    font-weight:bold;
    text-align: left;
    margin-bottom: 30px;
}

.approve-contents2 {
    font-size: 14px;
    float: left;
    border: none;
    width: 60px;
    font-weight:bold;
}
td{
    text-align: left;
}
.approve-btn1{
    font-size: 14px;
    border: none;
    padding: 4px;
    background-color: #28A0FF;
    font-weight:bold;
    color: white;
}
.approve-btn2{
    font-size: 14px;
    border: none;
    padding: 4px;
    background-color: #ff2828;
    font-weight:bold;
    color: white;
}