.login-form {
    width: 300px;
    background-color: #EEEFF1;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    padding: 20px;
    text-align: center;
    border: none;
    
}
.text-field {
      font-size: 14px;
      padding: 10px;
      border: none;
      width: 260px;
      font-weight:bold;
      margin-bottom: 20px;
 
}
 
.submit-btn1{
  font-size: 14px;
  border: none;
  padding: 10px;
  width: 100px;
  margin-right : 10px;
  background-color: #28A0FF;
  margin-bottom: 30px;
  font-weight:bold;
  color: white;
}

.submit-btn2{
    font-size: 14px;
    border: none;
    padding: 10px;
    width: 100px;
    margin-left : 10px;
    background-color : #28A0FF;
    font-weight:bold;
    margin-bottom: 30px;
    color: white;
  }

  .bubble
  {
  position: relative;
  width: 300px;
  height: 120px;
  padding: 0px;
  background: #F2FA5A;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: #4D77FF solid 4px;
  text-align: center;
  padding: 30px;
  }
  
  .bubble:after
  {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 0;
  border-color: #F2FA5A transparent;
  display: block;
  width: 0;
  z-index: 1;
  margin-left: -15px;
  bottom: -15px;
  left: 87%;
  }
  
  .bubble:before
  {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 18px 18px 0;
  border-color: #4D77FF transparent;
  display: block;
  width: 0;
  z-index: 0;
  margin-left: -18px;
  bottom: -22px;
  left: 87%;
  }
.bubble-head{
  font-size: 40px;
  font-weight: 900;
  font-family: sans-serif;
}