{% extends "base.html" %}
{% load static %}
{% block title %}chatMain{% endblock %}
{% block content %}

    <!-- What chat room would you like to enter?<br/>
    <input id="room-name-input" type="text" size="100"/>
    <input id="username-input" type="hidden" value="{{username}}">
    <input id="room-name-submit" type="button" value="Enter"/> -->

    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <div class="bubble">
        <p class="bubble-head">K-TALK</p>
    </div>
    <div class="login-form" style="margin-top: 40px;">
        <form method="POST">
        {% csrf_token %}
          <input type="text" id="room-name-input" class="text-field" placeholder="채팅방 이름을 입력하시오." >
          <input id="username-input" type="hidden" value="{{username}}">
          <input id="room-name-submit" type="button" value="Enter" class="submit-btn1">
        </form>
        <br><br>
        {% if error %}
        {{error}}
        {% endif %}
    
    </div>

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode == 13) { // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            var username = document.querySelector('#username-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>

{% endblock %}


