{% extends "base.html" %}
{% load static %}
{% block title %}Password Check{% endblock %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <div class="login-form">
        <form method="POST">
        {% csrf_token %}
          [ 비밀번호 확인 ]
          <input type="password" id="room-name-input" class="text-field" placeholder="비밀번호를 입력하시오." name="password" >
          <input id="username-input" type="hidden" value="{{request.user.username}}" name="username">
          <input id="room-name-submit" type="submit" value="Enter" class="submit-btn1">
        </form>
        <br><br>
        {% if error %}
        {{error}}
        {% endif %}
    
    </div>
{% endblock %}


