{% extends "base.html" %}
{% block title %}signup{% endblock %}
{% load static %}
{% block content %}

<div class="signup-form">
    <form method="POST">
        {% csrf_token %}
        <h4>가입에 필요한 정보를 입력해주세요.</h4>
      <input type="text" name="username" class="text-field" placeholder="아이디">
      <input type="password" name="password1" class="text-field" placeholder="비밀번호">
      <input type="password" name="password2" class="text-field" placeholder="비밀번호 재확인"> 
      <input name="email" type="email" class="text-field" placeholder="이메일">
      <input type="text" name="name" class="text-field" placeholder="이름">
      <input type="text" name="student_num" class="text-field" placeholder="학번">
      <input type="text" name="phone_num" class="text-field" placeholder="휴대전화">
      <input type="submit" value="회원가입하기" class="submit-btn">
    </form>
</div>

{% endblock %}