{% extends "base.html" %}
{% load static %}
{% block title %}Club Schedule Index{% endblock %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/board.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/club_style.css' %}">
    <div class="sub-nav">
        <table style="width: 1000px; margin-left: 600px;">
            <tbody>
                <tr>
                    <td class="sub-content"><a href="{% url 'club:club_home' cName=cName %}"><p style="margin-left: -30px;">동홈</p></a></td>
                    <td class="sub-content"><a href="{% url 'club:club_board_index' cName=cName %}"><p style="margin-left: -90px;">동아리 게시판</p></a></td>
                    <td class="sub-content"><a href="{% url 'club:club_schedule_index' cName=cName %}"><p style="margin-left: -80px;">일정</p></a></td>
                    <td class="sub-content"><a href="/chat/{{cName}}"><p style="margin-left: -120px;">{{cName}} TALK</p></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="board-form">
        <ul>
            <p class = "board-title">{{cName}} > &nbsp; 일정</p>
            <hr>
        </ul>
        {% if request.user.is_authenticated %}
        <a class="write-btn" href="{% url 'club:event_calendar' %}" style="margin-left: 0px; font-size: 20px; background-color: #4D77FF;">캘린더</a>
        <a class="write-btn" href="{% url 'club:club_schedule_create' cName=cName %}" style="margin-left: 600px; font-size: 20px;">일정 추가</a>
        {% endif %}
        <br><br>
        <table class="table">
            <thead>
              <tr>
                <th scope="col" style="width: 60px;">#</th>
                <th scope="col">Content</th>
                <th scope="col" style="width: 120px;">시작일</th>
                <th scope="col" style="width: 120px;">마감일</th>
              </tr>
            </thead>
            <tbody>
            {% if schedules != None %}
                {% for schedule in schedules %}
                <tr>
                    <td>{{schedule.state}}</td>
                    <td><a href="{% url 'club:club_schedule_detail' id=schedule.id %}">{{schedule.title}}</a></td>
                    <td>{{schedule.start_at}}</td>
                    <td>{{schedule.finish_at}}</td>
                </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>

    </div>
    <div class="side-menubar">
        <ul>
            <li class="side-menubar-content"><h3 style="padding-top: 20px;">{{cName}}</h3></li><hr>
            <li class="side-menubar-content"><a href="{% url 'club:club_schedule_index' cName=cName %}">일정</a></li><hr style="height: 1px; background: #ccc; width: 150px; margin-right: 0;">
            <li class="side-menubar-content"><a href="{% url 'club:club_schedule_create' cName=cName %}">일정 추가</a></li><hr style="height: 1px; background: #ccc; width: 150px; margin-right: 0;">
        </ul>
    </div>

{% endblock %}
