{% extends "base.html" %}
{% load static %}
{% block title %}Board Detail{% endblock %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/board_create.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/club_style.css' %}">
    <div class="sub-nav">
        <table style="width: 1000px; margin-left: 600px;">
            <tbody>
                <tr>
                    <td class="sub-content"><a href="{% url 'club:club_home' cName=cName %}"><p style="margin-left: -30px;">동홈</p></a></td>
                    <td class="sub-content"><a href="{% url 'club:club_board_index' cName=cName %}"><p style="margin-left: -90px;">동아리 게시판</p></a></td>
                    <td class="sub-content"><a href="{% url 'club:club_schedule_index' cName=cName %}"><p style="margin-left: -80px;">일정</p></a></td>
                    <td class="sub-content"><a href="/chat/{{cName}}"><p style="margin-left: -120px;">{{cName}} TALK</p></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="letter-create-form">
        <ul style="display: flex;width: 100%; text-align: left;">
            <li style="margin-left: 0; margin-right: 20px;"><img src="{% static 'img/schedule.png' %}"width = "60" height="60"></li>
            <li style="margin-left: 0;"><h3 class = "board-title">일정 추가</h3></li>
        </ul>
        <hr>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table table-striped">
                <tbody>
                  <tr>
                      <td>제목</td>
                      <td><input type="text" name="title" value="{{schedule.title}}" class="form-control" style="width: 530px; border-color: #28A0FF;"></td>
                  </tr>
                  <tr>
                    <td>동아리 명</td>
                    <td>{{cName}}</td>
                  </tr>
                  <tr>
                    <td>시작일</td>
                    <td><input type="date" name="start_at" class="form-control" style="width: 530px; border-color: #28A0FF;"></td>
                  </tr>
                  <tr>
                    <td>마감일</td>
                    <td><input type="date" name="finish_at" class="form-control" style="width: 530px; border-color: #28A0FF;"></td>
                  </tr>
                  <tr>
                    <td>내용</td>
                    <td><textarea cols="75" rows="10" name="content" class="form-control" style="border-color: #28A0FF;"></textarea></td>
                  </tr>
                  <tr>
                    <td>파일첨부</td>
                    <td><input type="file" name="image" class="form-control"></td>
                  </tr>
                </tbody>
            </table>
            
            <input class="write-btn" type="submit" value="추가하기" style="width: 80px; margin-left: 600px;">
        </form>
    </div>

{% endblock %}
