{% extends "base.html" %}
{% load static %}
{% block title %}Club List{% endblock %}
{% block content %}

    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/club_list.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/mypage.css' %}">
    <style>
      .l-btn{
        width: 100px;
        height: 30px;
        font-size: 20px;
        font-weight: 700;
        color: white;
        background-color: coral;
        text-align: center;
        margin-top: 15px;
        margin-left: 10px;
      }
    </style>
    <div class="letter-head" style="width:800px;">
        <ul>
            <h3 class = "letter-title" style="font-weight: bold;">My Club</h3>
            <hr>
        </ul>
    </div>
    <div class="mypage-form" style="width: 800px; background-color: white;">
      <ul>
        {% for club in clubs %}
        <li style="float: left; border: 2px solid #ccc; margin: 10px; padding: 10px; text-align: center;">
          <p style="font-size: 18px; font-weight: 900; text-align: center;">{{club.name}}</p>
          <a href="{% url 'club:club_home' cName=club.name %}"><img src="{{club.image_url.url}}" width = "121" height="115">
            <br>
            <a href="{% url 'club:club_home' cName=club.name %}" style="float: left;"><p class="l-btn">동홈가기</p></a>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>

{% endblock %}