{% extends "base.html" %}
{% load static %}
{% block title %}My Club List{% endblock %}
{% block content %}

    <!-- <h3> [ 내 동아리 ] </h3>
    <hr>
    <div class="container">
        {% for club in clubs %}
        {{club.name}} | <a href="{% url 'club:club_home' cName=club.name %}">동홈가기</a><br>
        {% endfor %}

    </div> -->

    <link rel="stylesheet" type="text/css" href="{% static 'css/club_list.css' %}">
    <div class="app-form">
        <ul>
            <p class = "app-title">[ 내 동아리 ]</p>
        </ul>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">동아리 명</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
            {% for club in clubs %}
              <tr>
                <td>{{club.name}}</td>
                <td>
                    <a href="{% url 'club:club_home' cName=club.name %}">동아리 홈페이지 가기</a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>


    </div>

{% endblock %}