{% extends "base.html" %}
{% load static %}
{% block title %}mainPage{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/calendar.css' %}">
<script src="{% static 'js/calendar.js' %}"></script>
    {% if request.user.is_authenticated %}
    <main>
        <div class="main-container">
            <div class="temp-box box-one">
                <div class="title-fff"><a href="{% url 'club:notice_index' %}">전체 공지사항 +</a></div>
                <div class="border-fff">
                    <table class="table">
                        <tbody>
                            {% for notice in notices %}
                            <tr>
                                <td><a href="{% url 'club:board_detail' id=notice.id %}">{{notice.title}}</a></td>
                                <td>{{notice.written_at.month}}/{{notice.written_at.day}}&nbsp;{{notice.written_at.hour}}:{{notice.written_at.minute}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="gap-box"></div>
                <div class="title-fff"><a href="{% url 'club:freeBoard_index' %}">커뮤니티 인기글 +</a></div>
                <div class="border-fff">
                    <table class="table">
                        <tbody>
                            {% for board in boards %}
                            <tr>
                                {% if board.topic == 'free' %}
                                <td>[자유]</td>
                                {% elif board.topic == 'info' %}
                                <td>[정보]</td>
                                {% elif board.topic == 'promo' %}
                                <td>[홍보]</td>
                                {% endif %}
                                <td><a href="{% url 'club:board_detail' id=board.id %}">{{board.title}}</a></td>
                                <td>{{board.written_at.month}}/{{board.written_at.day}}&nbsp;{{board.written_at.hour}}:{{board.written_at.minute}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>    
            </div>
            <div class="temp-box box-two">
                <div class="title-fff"><a href="{% url 'club:club_list' %}">동아리 리스트 +</a></div>
                <div class="border-fff">
                    <table class="table">
                        <tbody>
                            {% for club in clubs_info%}
                            <tr>
                                <td><a href="{% url 'club:club_home' cName=club.name %}" >{{club.name}}</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="temp-box box-three">
                <div class="title-fff"></div>
                <div class="border-fff">
                    <ul class="myPage-main">
                        <li class="inform-main">
                            {{member.name}} 님, 안녕하세요!<img src="{% static 'img/straightpointline.png' %}" style="margin: 0 0rem 0 1rem;">
                            <a href="{% url 'accounts:password_check' %}"><span style="text-decoration : underline; margin-left: 2%;">내정보</span><img src="{% static 'img/informlock.png' %}"></src></a>
                        </li>
                        <li class="inform-main"><a href="{% url 'club:letter_list' %}"><img src="{% static 'img/mail.png' %}" style="margin-right: 3%;">
                            <span style="text-decoration: underline">쪽지</span>
                            <span style="text-decoration: none;">{{letters_num}}</span></src></a>
                        </li>
                        <li class="inform2-main"><a href="{% url 'club:myClub_list' %}">나의 동아리 보기</a></li>
                        <li class="inform2-main"><a href="{% url 'chat:chat_main' %}">TALK방 참여</a></li>
                    </ul>
                </div>
                <div class="gap-box"></div>
                <div class="title-fff"><a href="{% url 'club:event_calendar' %}">행사일정 +</a></div>
                <div class="border-fff" style="border: none;">
                    <div id="calendar">
                        <div id="calendar_header"><i class="icon-chevron-left" style="font-weight: bold; font-size: 28px;"> < </i>
                            <h1></h1><i class="icon-chevron-right" style="font-weight: bold; font-size: 28px;"> > </i>
                        </div>
                        <div id="calendar_weekdays"></div>
                        <div id="calendar_content"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% else %}
    <main>
        <div class="main-container">
            <div class="temp-box box-one">
                <div class="title-fff"><a href="{% url 'club:notice_index' %}">전체 공지사항 +</a></div>
                <div class="border-fff">
                    <table class="table">
                        <tbody>
                            {% for notice in notices %}
                            <tr>
                                <td><a href="{% url 'club:board_detail' id=notice.id %}">{{notice.title}}</a></td>
                                <td>{{notice.written_at.month}}/{{notice.written_at.day}}&nbsp;{{notice.written_at.hour}}:{{notice.written_at.minute}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="gap-box"> </div>
                <div class="title-fff"><a href="{% url 'club:freeBoard_index' %}">커뮤니티 인기글 +</a></div>
                <div class="border-fff">
                    <table class="table">
                        <tbody>
                            {% for board in boards %}
                            <tr>
                                {% if board.topic == 'free' %}
                                <td>[자유]</td>
                                {% elif board.topic == 'info' %}
                                <td>[정보]</td>
                                {% elif board.topic == 'promo' %}
                                <td>[홍보]</td>
                                {% endif %}
                                <td><a href="{% url 'club:board_detail' id=board.id %}">{{board.title}}</a></td>
                                <td>{{board.written_at.month}}/{{board.written_at.day}}&nbsp;{{board.written_at.hour}}:{{board.written_at.minute}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>  
            </div>
            <div class="temp-box box-two">
                <div class="title-fff"><a href="{% url 'club:club_list' %}">동아리 리스트 +</a></div>
                <div class="border-fff">
                    <table class="table">
                        <tbody>
                            {% for club in clubs_info%}
                            <tr>
                                <td><a href="{% url 'club:club_home' cName=club.name %}" >{{club.name}}</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="temp-box box-three">
                <div class="title-fff"></div>
                <div class="border-fff"></div>
                <div class="gap-box"> </div>
                <div class="title-fff"><a href="{% url 'club:event_calendar' %}">행사일정 +</a></div>
                <div class="border-fff" style="border: none;">
                    <div id="calendar">
                        <div id="calendar_header"><i class="icon-chevron-left" style="font-weight: bold; font-size: 28px;"> < </i>
                            <h1></h1><i class="icon-chevron-right" style="font-weight: bold; font-size: 28px;"> > </i>
                        </div>
                        <div id="calendar_weekdays"></div>
                        <div id="calendar_content"></div>
                      </div>
                </div>
            </div>
        </div>
    </main>
    {% endif %}


{% endblock %}
